<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel Shipping</title>
  </head>
  <body>
    <h1>New Parcel</h1>
    <form action="/display" method="post">
      <label for="height">Enter heights</label>
      <input id="height" name="height" type="text"><br>
      <label for="length">Enter length</label>
      <input id="length" name="length" type="text"><br>
      <label for="width">Enter width</label>
      <input id="width" name="width" type="text"><br>
      <label for="weight">Enter weight</label>
      <input id="weight" name="weight" type="text"><br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
